# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# Node/Svelte
node_modules/
dist/
build/
*.log

# SvelteKit
.svelte-kit/
.vite/

# VS Code
.vscode/

# Voice notes (do not track audio files)
backend/voice_notes/
frontend/voice_notes/

# OS files
.DS_Store
Thumbs.db

# Misc
*.sqlite3
*.db